@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #5f5d9c;
}

.wrapper {
  width: 450px;
  padding: 30px;
  background-color: #4c469e;
  border-radius: 10px;
}

.wrapper .upload-box {
  height: 225px;
  border: 2px dashed #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper .upload-box img {
  height: 35px;
  filter: invert();
}

.wrapper.active .upload-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.wrapper .upload-box p {
  margin-top: 15px;
}

.wrapper.active .upload-box p {
  display: none;
}

.wrapper .content {
  margin-top: 15px;
}

.content .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.content .row .column {
  width: calc(100% / 2 - 15px);
}

.content .checkboxes .column {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sizes .column input {
  width: 100%;
  height: 49px;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 4px;
  padding: 0 15px;
  margin-top: 10px;
  color: #212121;
}

.sizes .column input:focus {
  padding: 0 14px;
  border: 1px solid blue;
}

.content .checkboxes input {
  accent-color: red;
}

.content .download-btn {
  width: 100%;
  padding: 1rem 0;
  margin: 10px 0 0 0;
  border: none;
  border-radius: 10px;
  background-color: rgb(152, 63, 235);
  color: #fff;
  font-weight: 600;
}

.content .download-btn:hover {
  background-color: rgb(129, 42, 211);
}

@media only screen and (max-width: 430px) {
  .wrapper {
    height: 100vh;
    border-radius: 0;
  }
}
